@charset "UTF-8";



body {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	margin: 30px 30px 30px 10px;
}

#title {
	width: 300px;

}

#navbar {
	position: fixed;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	display: block;
	width: 150px;
}

li a {
	font-size: 30px;
	text-decoration: none;

}

#copy{
	width: 150px;

}

#col1{
	width: 182.5px;
	height: 400px;
	float: right;
	margin: 60px 10px 10px 180px;
}

#col2{
	width: 182.5px;
	height: 400px;
	float: right;
	margin: 60px 10px 10px 180px;
}

#col3{
	width: 182.5px;
	height: 400px;
	float: right;
	margin: 60px 10px 10px 180px;
}

#col4{
	width: 182.5px;
	height: 400px;
	float: right;
	margin: 60px 10px 10px 180px;
}
